
.form-wrapper {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffffee;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 0px;
}

.reset-button {
  background-color: transparent !important;
  border: 0;
  margin-left: 5px;
}

.field-wrapper {
  display: flex;
  align-items: first baseline;
}