html, body {
  overscroll-behavior: none;
}

.form-container {
  padding-top: 30px;
  max-width: 300px;
  margin: 0 auto;
}

label {
  color: #394a5c;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.form-container .submit-button {
  width: 100%;
  padding: 12px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: #007bff;
}

.form-container .send-button {
  background-color: #229e51;
}

.settings-button {
  width: 98%;
  padding: 12px 20px;
  background-color: #007bff;
  border-radius: 3px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  bottom: 1%;
  left: 1%;
}

.submit-button:hover {
  background-color: #0056b3;
}

.ring-wrapper {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffffaa;
  display: flex;
  justify-content: center;
  align-items: center;
}
